---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
	title="About Me"
	description=""
	pubDate={new Date('Jul 03 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		Salut ! Je suis Fanny Gautier, une passionnée de cybersécurité et de développement web. J'ai créé ce blog pour partager mes connaissances et mes expériences dans le domaine de la sécurité informatique. Mon objectif est d'aider les autres à mieux comprendre les enjeux de la cybersécurité et à se protéger contre les menaces en ligne.
		Je suis actuellement étudiante a L'IIM en M1 dans le master IWID. <br/>
		<bold>Profil Rootme : </bold><a href="https://www.root-me.org/fanny-1012514?lang=fr#d856cb1df34d6c5ad7eb8ae8a867f354">fanny</a>
	<p>
		
</Layout>
